<footer class="footer">
    <div class="{% if page.container_class %}{{ page.container_class }}{% else %}container-lg{% endif %}">
        <div class="row my-3">
            <div class="col-6">
                <div class="text-muted">
                    <i>Last updated: {{ "now" | date: "%b %Y" }}</i>
                </div>
            </div>
            <div class="col-6">
                <div class="text-right text-muted">
                    {{ site.data.display.footer_text }}
                </div>
            </div>
        </div>

        <!-- ClustrMaps Visitor Tracker -->
        <div class="clustrmaps-container">
            <!-- Light Mode ClustrMaps -->
            <div id="clustrmaps-light">
                <script type="text/javascript" id="clstr_globe"
                    src="https://clustrmaps.com/globe.js?d=HIPqhW-ZYzFpNlSvMArfRBt9uu4ZDyE2yGvMsRe-LMw">
                </script>
            </div>

            <!-- Dark Mode ClustrMaps -->
            <div id="clustrmaps-dark">
                <a href="https://clustrmaps.com/site/1c4nj"  title="ClustrMaps"><img src="//www.clustrmaps.com/map_v2.png?d=HIPqhW-ZYzFpNlSvMArfRBt9uu4ZDyE2yGvMsRe-LMw&cl=ffffff" /></a>
            </div>
        </div>
    </div>
</footer>
