<footer class="footer">
    <div class="{% if page.container_class %}{{ page.container_class }}{% else %}container-lg{% endif %}">
        <div class="row my-3">
            <div class="col-6">
                <div class="text-muted">
                    <i>Last updated: {{ "now" | date: "%b %Y" }}</i>
                </div>
            </div>
            <div class="col-6">
                <div class="text-right text-muted">
                    {{ site.data.display.footer_text }}
                </div>
            </div>
        </div>

        <!-- ClustrMaps Visitor Tracker -->
        <div class="clustrmaps-container">
            <!-- Light Mode ClustrMaps -->
            <div id="clustrmaps-light">
                <script type="text/javascript" id="mmvst_globe" src="//mapmyvisitors.com/globe.js?d=WDZgyLB5ActalgEZc-vAgRyxQZFiTuXIu9seuBsucQk"></script>
            </div>

            <!-- Dark Mode ClustrMaps -->
            <div id="clustrmaps-dark">
                <a href="https://mapmyvisitors.com/web/1c6pt"  title="Visit tracker"><img src="https://mapmyvisitors.com/map.png?d=HF3dSa2Phdp70LSHdJoYuxLo5rPnYPz8e3TjScZHUbA&cl=ffffff" /></a>
        </div>
    </div>
</footer>
